<h1>{{title}}</h1>
<p>{{description}}</p>
<table>
	<tr>

		 {% for col in column_names %}
		 <th>{{col}}</th>
		 {% endfor %}
	</tr>
	{% for row in row_data %}
	<tr>
		 {% for col, row_ in zip(column_names, row) %}
		 <td>{{row_}}</td>
		 {% endfor %}
	</tr>
	{% endfor %}

</table>

<style>
	body {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
}
</style>